name: Swift

on:
  push:
    branches-ignore:
      - main

jobs:
  build:
    name: Build & Test
    runs-on: macos-26
    steps:
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: "26.1"
      - name: Get swift version
        run: swift --version
      - uses: actions/checkout@v4
      - name: Lint
        run: swift format --configuration ./swift-format.json lint -i --recursive .
      - name: Build
        run: swift build
      - name: Run tests
        run: swift test --enable-swift-testing
