name: Create Release

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  release:
    runs-on: macos-26
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: "26.1"
      - name: Get swift version
        run: swift --version

      - name: Run release tool
        run: swift run release-tool
        env:
          GH_TOKEN: ${{ github.token }}
